In [1]:
import pandas as pd

Data Structures
1. Series
    - 1D 
    - Column Vector or Column
2. DataFrame
    - 2D
    - Matrix or Table

In [2]:
#Series

series = {
    'index' : [0, 1, 2, 3],
    'data' : [145, 142, 38, 13], 
    'name' : 'songs'
}

In [10]:
def get(series, idx):
    value_idx = series['index'].index(idx) 
    return series['data'][value_idx]

In [11]:
get(series, 1)

142

In [12]:
songs2 = pd.Series([145, 142, 38, 13], name='counts')

In [13]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [14]:
songs2.index

# default is monotonically increasing integers

RangeIndex(start=0, stop=4, step=1)

In [15]:
# make index string based 
songs3 = pd.Series([145, 142, 38, 13], 
                   name='counts', 
                   index = ['Paul', 'John', 'George', 'Ringo'])

In [16]:
songs3
#looks 2D but index is not part of the values

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

NaN
- Not a Number
- NULL

In [17]:
import numpy as np

In [18]:
nan_series = pd.Series([2, np.nan], 
                       index=['Ono', 'Clapton'])

In [19]:
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

Notice that type of series is float64 -> int64 doesn't support NaN

In [21]:
nan_series.count()

# pandas ingores NaN

1

In [22]:
nan_series.size

#count # of entries including the missing values

2

In [23]:
# pass dtype='Int64' to have integer support for series with NaN

nan_series2 = pd.Series([2, None], 
                        index=['Ono', 'Clapton'], 
                        dtype='Int64')

In [24]:
nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [26]:
nan_series2.count()
#still ignores NaN

1

In [27]:
songs3.median()

90.0

In [28]:
# filtering series with boolean array
songs3[songs3 > songs3.median()]

Paul    145
John    142
Name: counts, dtype: int64

In [29]:
mask = songs3 > songs3.median()

In [30]:
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [31]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

Categorical Data
- use less memory than strings
- improve performance
- can have an ordering
- can perform operations on categories
- enforce membership on values

In [32]:
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')

In [33]:
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [34]:
s.cat.ordered
#cateogires don't have an ordering

False

In [35]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'])
size_type = pd.api.types.CategoricalDtype(
    categories=['s', 'm', 'l'], ordered = True
)
s3 = s2.astype(size_type)

# turn to ordered

In [36]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [38]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [39]:
s.cat.reorder_categories(['xs', 's', 'm', 'l', 'xl'], 
                         ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [40]:
temp = pd.Series([24, 25, 33, 18, 22, 17, 19])

In [41]:
mask = temp > temp.mean()

In [42]:
temp[mask]

0    24
1    25
2    33
dtype: int64

In [43]:
colors = pd.Series(['Red', 'Green', 'Blue', 'Yellow', 'Maroon', 'Rainbow'])
size_type_col = pd.api.types.CategoricalDtype(
    categories=['Red', 'Green', 'Blue', 'Yellow', 'Maroon', 'Rainbow'], 
    ordered=True
)

In [45]:
c3 = colors.astype(size_type_col)

In [46]:
c3

0        Red
1      Green
2       Blue
3     Yellow
4     Maroon
5    Rainbow
dtype: category
Categories (6, object): ['Red' < 'Green' < 'Blue' < 'Yellow' < 'Maroon' < 'Rainbow']